html,body {
    height: 100%;
    weight: 100%;
    font-family: 'VT323', monospace;
}

h1 {
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #eeeeee;
    font-family: 'VT323', monospace;
}

.full-height {
    height: 100%;
}


#paint-preview {
    text-align: center;
}

#grid-toggle {
    vertical-align: middle;
    display: block;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    padding: 6px 12px;
}

#grid-container {
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
}

#control-panel {
    height: 100%;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#grid-panel {
    height: 100%;
}

input[type=button] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-child  {
    text-align: center;
}

.bottom-right {
    right: 0;
    bottom: 0;
    position: absolute;
}

.align-right {
    float: right;
}

img {
    margin: 10px;
}
