html,body {
    height:100%;
    background-image: url("../images/wood_floor_by_gnrbishop.jpg");
}

body {
    margin: 0;
    padding: 0;
}

.fluid-container {
    height:100%;
}


#grid-container {
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightblue;
}

#control-panel {
    height: 100%;
    background-color: steelblue;
    color: white;
}

#grid-panel {
    height: 100%;
}

input[type=button] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-right {
    right: 0;
    top: 0;
    position: absolute;
}

img {
    margin: 10px;
}
