body {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.grid-container {
    width: 352px;
    height: 352px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid red;
}

.square {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.dark {
    background-color: black;
}

input[type=button] {
    margin: 10px;
}
