html,body {
    height:100%;
}

body {
    margin: 0;
    padding: 0;
}

.fluid-container {
    height:100%;
}


.grid-container {
    width: 720px;
    height: 720px;
    border: 1px solid blue;
}

.square {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 45px;
    height: 45px;
}

.dark {
    background-color: black;
}

#control-panel {
    height: 100%;
    background-color: lightgray;
}

input[type=button] {
    margin: 10px;
}
