body {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.grid-container {
    width: 720px;
    height: 720px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid red;
}

.square {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 45px;
    height: 45px;
}

.dark {
    background-color: black;
}

input[type=button] {
    margin: 10px;
}
