@font-face {
    font-family: 'VT323';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/VT323-regular/VT323-regular.eot');
    src: url('../fonts/VT323-regular/VT323-regular.eot?#iefix') format('embedded-opentype'),
    local('VT323 Regular'),
    local('VT323-regular'),
    url('../fonts/VT323-regular/VT323-regular.woff2') format('woff2'),
    url('../fonts/VT323-regular/VT323-regular.woff') format('woff'),
    url('../fonts/VT323-regular/VT323-regular.ttf') format('truetype'),
    url('../fonts/VT323-regular/VT323-regular.svg#VT323') format('svg');
}