@import "normalize";

$color-white: #fbfbfb;
$color-light-gray: #dcdcdc;
$color-medium-gray: #818181;
$color-dark-gray: #4a4a4a;
$color-black: #2b2b2b;
$color-light-blue: #498bff;

* {
  box-sizing: border-box;
}

html, body {

  height: 100%;
  weight: 100%;

  margin: 0;
  padding: 0;

  font-family: 'VT323', monospace;
  font-size: 16px;
}



table {
  border-collapse: collapse;
}

tr, td {
  padding: 0;
  border: 1px solid $color-light-gray;
}

td:hover {
  outline: 4px solid $color-light-blue;
}

.button {
  background-color: $color-white;
  margin: 0;
  border: 1px solid $color-light-gray;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;

  &:hover, &:focus {
    outline: none;
    border: 1px solid $color-medium-gray;
  }
}

.control-panel-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}

.row-item-1-2 {
  flex: 0 1 50%;
  margin: 0 1rem;
}

.row-item-only {
  flex: 0 1 100%;
  margin: 0 1rem;
}

.form-label {
  display: block;
  vertical-align: middle;
  line-height: 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input-block {
  box-sizing: border-box;
  border: 1px solid $color-light-gray;
  padding: 0.5rem;

  display: block;
  width: 100%;
  min-height: 2rem;

  &:hover, &:focus {
    border: 1px solid $color-medium-gray;
  }
}



.svg-icon {
  width: 100%;
  height: 100%;
}

#main-navigation {
  background-color: $color-white;
  color: $color-black;

  border: 0;
  padding: 1rem;

  height: 4rem;
  width: 100%;

  align-text: center;
  vertical-align: middle;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-section {
  height: calc(100% - 54px);
  position: relative;
}

#main-heading {
  display: inline-block;
  align-self: center;
}

#main-container {
  height: 100%;
  weight: 100%;
  padding: 0;
  margin: 0;
  background-color: $color-white;
}

#paint-preview {
  border-top: 2px solid $color-light-gray;
  border-bottom: 2px solid $color-light-gray;
  height: 4rem;
  width: 100%;
  text-align: center;
}

#grid-toggle {
  vertical-align: middle;
  display: block;
  text-align: center;
  font-size: 32px;
}

#grid-panel {
  height: 100%;
  position: relative;
}

#grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $color-light-gray;
}

#grid-table {
  width: 100%;
  height: 100%;
}

#control-panel {
  height: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
}

#control-section {
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
  transform: translateX(-100%);
  border-right: 2px solid $color-light-gray;
}

#control-section.control-section-visible {
  transform: translateX(0%);
}

#grid-section {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(0%);
}

#grid-section.grid-section-visible {
  transform: translateX(0%);
}


.full-height {
  height: 100%;
}

.center-text {
  text-align: center;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  #control-section {
    will-change: transform;
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 25%;
    transition: transform 0.5s ease-in 0s;
    transform: translateX(-100%);
  }

  #control-section.control-section-visible {
    transform: translateX(0%);
  }

  #grid-section {
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in 0s, width 0.5s ease-in 0s;
    transform: translateX(0%);
  }

  #grid-section.grid-section-visible {
    width: 75%;
    transform: translateX(33.33%);
  }

}
