html,body {
  height: 100%;
  weight: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
}

#main-navigation {
  margin: 0;
  background-color: white;
  height: 54px;
  width: 100%;
  align-text: center;
  vertical-align: middle;
  border-bottom: 1px solid #eeeeee;
}

#main-section {
  height: calc(100% - 54px);
  position: relative;
}

#main-heading {
  margin: 4px 0 0 0;
  display: inline-block;
}

#main-container {
  height: 100%;
  weight: 100%;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'VT323', monospace;
}

#paint-preview {
  border: 1px solid #cccccc;
  text-align: center;
}

#grid-toggle {
  vertical-align: middle;
  display: block;
  text-align: center;
  font-size: 32px;
}

#grid-panel {
  height: 100%;
  position: relative;
}

#grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

#grid-table {
  width: 100%;
  height: 100%;
}

#control-panel {
  height: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

#control-section {
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
  transform: translateX(-100%);
}

#control-section.control-section-visible {
  transform: translateX(0%);
}

#grid-section {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(0%);
}

#grid-section.grid-section-visible {
  transform: translateX(0%);
}

.nav-button {
  margin: 8px 16px;
}

.full-height {
  height: 100%;
}

.center-text {
  text-align: center;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  #control-section {
    will-change: transform;
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 25%;
    transition: transform 0.5s ease-in 0s;
    transform: translateX(-100%);
  }

  #control-section.control-section-visible {
    transform: translateX(0%);
  }

  #grid-section {
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in 0s, width 0.5s ease-in 0s;
    transform: translateX(0%);
  }

  #grid-section.grid-section-visible {
    width: 75%;
    transform: translateX(33.33%);
  }

}
